@page "/home"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["message"]!=null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div id="carousel">
    <div id="img_container">
        <img src="assets/RedPhotos/giant01.jpg" class="img">
        <img src="assets/RedPhotos/giant02.webp" class="img">
        <img src="assets/RedPhotos/giant04.jpg" class="img">
        <img src="assets/RedPhotos/giant06.jpeg" class="img">
    </div>
    <a onclick="click_prev()" id="prev">
        <span class="arrow"><</span>
    </a>
    <a onclick="click_next()" id="next">
        <span class="arrow">></span>
    </a> 
</div>

<div class="w100" id="div_fav">
    <div id="fav_header">
        <h1 class="italic_header">红色文化</h1>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <div class="grid-item-upper-div">
                <a href="/detailpage01" class="grid-item-link">
                    <h1 class="h1_item_head">弘扬爱国精神 致敬红色经典</h2>
                </a>
            </div>
            <div class="vcenterimg">
                <img src="assets/RedPhotos/Page1/hongimg04.jpeg" alt="students" class="grid-item-uppder-img">
            </div>
        </div>

        <div class="grid-item">
            <div class="grid-item-upper-div">
                <a href="/detailpage02" class="grid-item-link">
                    <h1 class="h1_item_head">传承千年窑火 振兴美丽乡村</h2>
                </a>
            </div>
            <div class="vcenterimg">
                <img src="assets/RedPhotos/Page2/hongimg06.jpeg" alt="houses" class="grid-item-uppder-img">
            </div>
        </div>

        <div class="grid-item">
            <div class="grid-item-upper-div">
                <a href="/detailpage03" class="grid-item-link">
                    <h1 class="h1_item_head">远离生活的建筑没有生命力</h2>
                </a>
            </div>
            <div class="vcenterimg">
                <img src="assets/RedPhotos/Page2/hongimg05.jpeg" alt="scene" class="grid-item-uppder-img">
            </div>
        </div>

        <div class="grid-item">
            <div class="grid-item-upper-div">
                <a href="/detailpage04" class="grid-item-link">
                    <h1 class="h1_item_head">一起行走，看乡土新风</h2>
                </a>
            </div>
            <div class="vcenterimg">
                <img src="assets/RedPhotos/Page4/hongimg08.jpg" alt="drawing" class="grid-item-uppder-img">
            </div>
        </div>

        <div class="grid-item">
            <div class="grid-item-upper-div">
                <a href="/detailpage05" class="grid-item-link">
                    <h1 class="h1_item_head">大力弘扬传统文化 寻根问祖凝聚力量</h2>
                </a>
            </div>
            <div class="vcenterimg">
                <img src="assets/RedPhotos/Page5/hongimg09.png" alt="groupPhoto" class="grid-item-uppder-img">
            </div>
        </div>

        <div class="grid-item">
            <div class="grid-item-upper-div">
                <a href="/detailpage06" class="grid-item-link">
                    <h1 class="h1_item_head">传承红色基因 赓续红色血脉</h2>
                </a>
            </div>
            <div class="vcenterimg">
                <img src="assets/RedPhotos/Page6/hongimg13.png" alt="meeting" class="grid-item-uppder-img">
            </div>
        </div>
    </div>
</div>

<div class="div_divider"></div>

<div class="parallax-container">
    <div class="parallax-image"></div>
</div>

<div id="div_barista">
    <div id="fav_header" style="margin-top:30px;">
        <h1 class="italic_header">模范代表</h1>
    </div>
    <div id="barista_row">
        <div class="barista_profile">
            <div class="div_upperprofile">
                <div class="div_upperimagecontainer">
                    <img src="assets/RedPhotos/Page7/peoimg01.jpg" class="barista_img">
                </div>

                <div class="div_uppertextcontainer">
                    <a asp-page="/PageDetail/detailpage07" class="bluehoverlink">
                        <h2>徐梦桃：为梦想坚持 拼出冬奥冠军</h2>
                    </a>
                </div>
            </div>
            <div>
                <p class="p_brista">在众多雪上项目中，自由式滑雪空中技巧是中国队率先取得冬奥奖牌突破的领域。然而...</p>
            </div>
        </div>
        <div class="div_divider_vert"></div>
        <div class="barista_profile">
            <div class="div_upperprofile">
                <div class="div_upperimagecontainer">
                    <img src="assets/RedPhotos/Page8/peoimg02.jpg" class="barista_img">
                </div>

                <div class="div_uppertextcontainer">
                    <a asp-page="/PageDetail/detailpage08" class="bluehoverlink">
                        <h2>于吉红：努力走在科技最前沿</h2>
                    </a>
                </div>
            </div>
            <div>
                <p class="p_brista">利落的短发、得体的套装，交谈时柔和淡定，眼前的于吉红给人干练的印象。为学生...</p>
            </div>
        </div>
    </div>

    <div id="barista_row">
        <div class="barista_profile">
            <div class="div_upperprofile">
                <div class="div_upperimagecontainer">
                    <img src="assets/RedPhotos/Page9/proimg03.jpg" class="barista_img">
                </div>

                <div class="div_uppertextcontainer">
                    <a asp-page="/PageDetail/detailpage09" class="bluehoverlink">
                        <h2>王海旭：忠诚拼搏 锻造过硬实力</h2>
                    </a>
                </div>
            </div>
            <div>
                <p class="p_brista">　子夜，一场多军兵种检验性对抗演练拉开帷幕。驻香港部队某部分队装备车辆集结...</p>
            </div>
        </div>
        <div class="div_divider_vert"></div>
        <div class="barista_profile">
            <div class="div_upperprofile">
                <div class="div_upperimagecontainer">
                    <img src="assets/RedPhotos/Page10/peoimg04.jpg" class="barista_img">
                </div>

                <div class="div_uppertextcontainer">
                    <a asp-page="/PageDetail/detailpage10" class="bluehoverlink">
                        <h2>张黎明：创新使工作更快乐</h2>
                    </a>
                </div>
            </div>
            <div>
                <p class="p_brista">“一个移动充电枪覆盖6个车位，如果安装5个，就能覆盖30个车位。”在创新工作室，党的...</p>
            </div>
        </div>
    </div>
</div>

<div id="fav_header">
    <h1 class="italic_header">发展历程</h1>
</div>

<div class="timelineouterdiv">
    <div class="timelineinnerdiv">
        <div class="timeeventdiv1"></div>
        <div class="timeeventdiv2"></div>
        <div class="timeeventdiv3"></div>
        <div class="timeeventdiv4"></div>
        <div class="timeeventdiv5"></div>
        <div class="timeeventdiv6"></div>
        <div class="timeeventdiv7"></div>
    </div>
    <h2 id="text-paragraph"></h2>
</div>