@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Policy

Last updated: 10/19/2023

This site is committed to protecting the privacy and security of your personal information. This Privacy Policy outlines the types of information we collect and how we use, disclose, and protect that information.

Information We Collect
We may collect the following types of personal information:

Contact Information: Including your name, email address.

Usage Information: Data about how you use our website.

How We Use Your Information
We use the information we collect for the following purposes:

To Provide Services: To deliver the products and services you request and to communicate with you regarding these services.

To Improve Our Services: To analyze usage patterns and improve our website, products, and services.

To Send Marketing Communications: With your consent, we may send you promotional emails and updates about our products and services.

Information Sharing
We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share your information with trusted third parties who assist us in operating our website or servicing you.

Your Rights
You have the right to request access to, correction of, or deletion of your personal information. Please contact us to exercise these rights.

Data Security
We implement no security measures to maintain the safety of your personal information.

Changes to This Privacy Policy
We reserve the right to modify this Privacy Policy at any time. Changes and clarifications will be effective immediately upon posting on the website.

Contact Us
If you have any questions or concerns regarding this Privacy Policy, please contact us at 1159727122@qq.com</p>
