@page "/userpage"
@model AspWeb.Pages.UserPageModel
@{
	string get_webpath(string link)
	{
		string[] blocks = link.Split('/');
		int len = blocks.Length;
		string pathname = "http://47.97.7.2/" + blocks[len-1];
		return pathname;
	}
}

<div class="userpage_header_div">
	<div class="userpage_header_greeter_div">
		<h1>Hi, @User.Identity.Name</h1>
	</div>
	<div class="userpage_logout_div">
		<a asp-page-handler="Logout">Log out</a>
	</div>
</div>

<div style="margin-top=50px; margin-bottom=50px; ">

</div>

<div>
	<ul class="star_div"
		@foreach(var p in Model.pageFaved)
		{
			<li>
				<a class="star_div_content" href=@get_webpath(p.Link)>@p.Name</a>
				<p class="star_div_content_text">@get_webpath(p.Link)</p>
			</li>
		}
	</ul>
	
</div>