@page "/detailpage01"
@using AspWeb.Pages.PageDetail;
@model AspWeb.Pages.PageDetail.detailpage01Model
@{
}

@if (TempData["message"] != null)
{
	<div class="alert alert-success">
		@TempData["message"]
	</div>
}

<div class="detail_background_div">
	<img src="assets/RedPhotos/Page1/hongimg04.jpeg" class="detail_background">
</div>
<div class="detail_page_div">
	<div class="detailpage_header_div">

		<div class="detailpage_title_div">
			<h1>弘扬爱国精神 致敬红色经典</h1>
		</div>
		@if (!DetailPage01Val.signed)
		{
			<form asp-page-handler="Fav" method="post" class="detailpage_star_div">
				<div>
					<button class="star_button"></button>
				</div>
			</form>
		}
		else
		{
			if (@DetailPage01Val.fav)
			{
				<form asp-page-handler="Fav" method="post" class="detailpage_star_div">
					<div>
						<button class="star_button_yellow"></button>
					</div>
				</form>
			}
			else
			{
				<form asp-page-handler="Fav" method="post" class="detailpage_star_div">
					<div>
						<button class="star_button"></button>
					</div>
				</form>
			}
		}
	</div>

	<div class="ImageBlockDiv">
		<img class="ImageBoxStretch" src="assets/RedPhotos/Page1/hongimg01.jpeg"></img>
	</div>
	<div class="TextBlockDiv">
		<p class="para_detail_font">10月13日上午，由福建省江西省、陕西省、重庆市、内蒙古自治区党委宣传部联合摄制的电影《少年先锋》在厦门首映，中国红刊传媒（澳门）红刊杂志创办人黄光宇在仪式上发布了澳门展映活动安排。</p>
	</div>

	<div class="ImageTextBlockDiv">
		<div class="ImageTextBlockDiv_ImageDiv">
			<img class="ImageBoxStretch" src="assets/RedPhotos/Page1/hongimg02.jpeg"></img>
		</div>
		<div class="ImageTextBlockDiv_TextDiv">
			<p class="para_detail_font">
				预计在澳门庆祝回归二十四周年前夕,《红刊》携手《少年先锋》主创团队一起，通过形式多样的展映环节，在澳门掀起致敬红色经典的光影体验。并通过展映将进一步加强澳门青少年对祖国红色故事的深入了解，感怀党领导下少年儿童运动百年历史和少年英雄事迹，弘扬爱国主义精神，让澳门青少年更好融入国家发展大局。
				影片拍摄制作历时五年，4000多名学生和群演参与，是近年来规模最大、参演人数最多的一部少儿故事片。厦门警备区、福建省委宣传部、福建省教育厅、共青团福建省委、厦门市委宣传部、厦门市思明区委宣传部、江西省委宣传部电影处、陕西省委宣传部电影处领导嘉宾与优秀少先队员们共同出席参加首映及发布活动。
			</p>
		</div>
	</div>

	<div class="ImageBlockDiv">
		<img class="ImageBoxStretch" src="assets/RedPhotos/Page1/hongimg03.jpeg"></img>
	</div>

	<footer class="DeatailPageFooter">时间：2023-10-14  记者：日月/周成玉  作者：未知  来源：中国红色文化党建网</footer>
</div>

