@page "/detailpage05"
@using AspWeb.Pages.PageDetail;
@model AspWeb.Pages.PageDetail.detailpage05Model
@{
}

@if (TempData["message"] != null)
{
	<div class="alert alert-success">
		@TempData["message"]
	</div>
}

<div class="detail_background_div">
	<img src="assets/RedPhotos/Page5/hongimg09.png" class="detail_background">
</div>
<div class="detail_page_div">
	<div class="detailpage_header_div">

		<div class="detailpage_title_div">
			<h1>大力弘扬传统文化 寻根问祖凝聚力量</h1>
		</div>
		@if (!DetailPage05Val.signed)
		{
			<form asp-page-handler="Fav" method="post" class="detailpage_star_div">
				<div>
					<button class="star_button"></button>
				</div>
			</form>
		}
		else
		{
			if (@DetailPage05Val.fav)
			{
				<form asp-page-handler="Fav" method="post" class="detailpage_star_div">
					<div>
						<button class="star_button_yellow"></button>
					</div>
				</form>
			}
			else
			{
				<form asp-page-handler="Fav" method="post" class="detailpage_star_div">
					<div>
						<button class="star_button"></button>
					</div>
				</form>
			}
		}
	</div>

	<div class="TextBlockDiv">
		<p class="para_detail_font">
			癸卯兔年的十月非同往年，这是肆虐了三年的疫情结束之后我们迎来的第一个自由欢快的国庆佳节。举目望去，秋日的北京，天高云淡、红旗招展、鲜花飘香。人们怀着喜悦、幸福的心情庆贺新中国成立74周年。

			为此，“中国根”系列文化活动组委会和北京中侨联文化交流中心策划并主办了这场意义非凡的全国书画名家专题笔会，同时举行了隆重的迎“国庆”招待会。
		</p>
	</div>

	<div class="ImageBlockDiv">
		<img class="ImageBoxStretch" src="assets/RedPhotos/Page5/hongimg10.png"></img>
	</div>

	<div class="ImageTextBlockDiv">
		<div class="ImageTextBlockDiv_ImageDiv">
			<img class="ImageBoxStretch" src="assets/RedPhotos/Page5/hongimg11.png"></img>
		</div>
		<div class="ImageTextBlockDiv_TextDiv">
			<p class="para_detail_font">
				应邀参加这次笔会的有来自北京、河南、湖南、山东、广东、宁夏、四川和陕西的书画名家，他们都是当代书坛画界的佼佼者。像周智慧、苏民范、李洪海、柴京津、赵嘉符、赵君峰、曾纪刚、纪文普等都是当代颇具影响的书画大家，也是“中国根”系列文化活动的“老队员”。他们饱含热情、精心构思，创作了一幅幅歌颂党、热爱祖国的书画佳作。笔会组织者特意策划的由十多位书画家集体创作的大幅作品《国泰民安》《锦绣河山》等，渲染淋漓尽致、构图气势磅礴、创意精巧独特，博得了在场领导和嘉宾的高度赞扬和阵阵掌声。
			</p>
		</div>
	</div>

	<div class="TextBlockDiv">
		<p class="para_detail_font">
			中国军博书画院院长李洪海师承启功大师，其作品被中央和国家重要的楼堂馆所收藏，经常以国礼的形式赠送给外国元首。他今天在现场书写的《祖国华诞 万民称颂》、毛主席语录、诗词等作品，行笔豪放、苍劲有力，深受专家行家好评；俄罗斯艺术科学院院士周智慧是“中国画海第一人”，也是这次笔会的“主角”，他创作的《盛世中华》、《紫气东来 海纳百川》等作品成为笔会的焦点；柴京津是解放军书画院的秘书长，其国画作品曾跟随“神舟6号”遨游太空，是全军著名的融诗书画于一体的“多栖”大家；苏民范先生师承黄胄大师，是解放军军中的专业画家，一生画驴精益求精，人称苏老师画驴出神入化、惟妙惟肖、生动可爱。亲临笔会现场的嘉宾齐声称赞活动办的好，用这种特殊的文化方式庆贺祖国的生日，别开生面、意义深远。
		</p>
	</div>

	<div class="TextImageBlockDiv">
		<div class="ImageTextBlockDiv_TextDiv">
			<p class="para_detail_font">
				公开资料显示：“中国根”系列文化活动是一项以团结海外华侨华人，用文化寻根问祖、唤起全球华夏子孙爱国情怀的大型文化项目。1995年开始策划、近30年来组织实施逾百项大型文化交流项目，在海内外引起强烈反响。“中国根”系列文化活动已经成为一项在华人社会被誉为弘扬传统文化的“文化品牌”和“中国名片”。“中国根”系列文化活动是由全国政协办公厅、中国文联办公厅、全国青联、全国工商联、人民日报（海外版）联合主办、北京中侨联文化交流中心具体承办的。

				记者从“中国根”活动组委会新闻处获悉：今年末，“中国根”还有两场大型活动：一是“中国根”活动组委会与国际知名拍卖公司强强联手，在北京联合举办“中国根”流失海外艺术精品回归祖国邀请展暨秋季拍卖会； 二是为纪念中国人民的伟大领袖毛泽东主席诞辰130周年，组委会将于12月26日在北京香格里拉饭店举办题为《人民领袖 世代缅怀》--“中国根”纪念毛泽东主席诞辰130周年专题笔会。目前，上述文化项目已在紧张筹备之中。
			</p>
		</div>
		<div class="ImageTextBlockDiv_ImageDiv">
			<img class="ImageBoxStretch" src="assets/RedPhotos/Page5/hongimg12.png"></img>
		</div>
	</div>


	<footer class="DeatailPageFooter">时间：2023-09-30  记者：日月/李德金/周成玉  作者：未知  来源：中国红色文化党建网  点击: 338 次</footer>
</div>